{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
<body>

    <section id="book-details">

        <div> Library Name: {{ library.title }}</div>
        <div>Address: {{ library.address }}</div>
    </section>

    <section id="book-actions" style="display:flex;">
        <form action="{% url 'libraryapp:library' library.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'libraryapp:library_edit_form' library.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>

</body>
{% endblock %}
