{% extends 'shared/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Library</title>
</head>

<body>
  {% block content %}

    <h2>Add A New Library</h2>

       {% if library.id is not None %}
           <form action="{% url 'libraryapp:library' library.id %}" method="post">{% csrf_token %}

       {% else %}

            <form action="{% url 'libraryapp:libraries' %}" method="post">{% csrf_token %}

       {% endif %}

        <fieldset>
            <label for="title">Library Name: </label>
            <input id="title" type="text" name="title" value="{{ library.title }}">
        </fieldset>
        <fieldset>
            <label for="author">Address: </label>
            <input id="author" type="text" name="address" value="{{ library.address }}">
        </fieldset>

        {% if library.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
    {% endblock %}
</body>

</html>
