{% comment %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Library</title>
</head>

<body>
    <h1>Add New Librarian</h1>

    {% if librarian.id is not None %}
        <form action="{% url 'libraryapp:librarian' librarian.id %}" method="post">
    {% else %}
        <form action="{% url 'libraryapp:librarian' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="title">First Name: </label>
            <input id="title" type="text" name="title" value="{{ book.title }}">
        </fieldset>
        <fieldset>
            <label for="author">Last Name: </label>
            <input id="author" type="text" name="author" value="{{ book.author }}">
        </fieldset>

        <fieldset>
            <label for="location">Library: </label>
            <select id="location" type="text" name="location">
                {% for library in all_libraries %}
                <option {% if library.id == book.location_id %}selected{% endif %} value="{{ library.id }}">
                    {{ library.title }}</option>
                {% endfor %}
            </select>
        </fieldset>

        {% if librarian.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
</body>

</html> {% endcomment %}
