{% extends 'shared/base.html' %}
{% load static  %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    {% block content %}

    <h1>Librarians</h1>

    <a href="{% url 'libraryapp:librarian_form' %}">Add New Librarian</a>

    <ol>
    {% for librarian in all_librarians %}
        <li>
            <a href="{% url 'libraryapp:librarian' librarian.id %}">
                {{ librarian.library_name }}, details{{ librarian.library_address}}
            </a>
            {{ librarian.first_name }} {{ librarian.last_name }}
        </li>
    {% endfor %}
    </ol>
    {% endblock %}
  </body>
</html>
